.ember-application {
    margin: 20px;
}

.selected {
    background-color: #e4e4e4 !important; 
}

.odd {
    background-color: #fafafa;
}

.visible {
    display: inline-block !important;
}

.hidden {
    display: none !important;
}

.asc,
.desc {
    position: absolute,
    top: 0px;
    left: 0px;
    display: inline-block;
    text-indent: -9999px;
    width: 11px;
    /*border: dotted 1px #086bb5;*/
}

.asc {
    background: #eff8ff url('asc.gif') left center no-repeat;
}

.desc {
    background: #eff8ff url('desc.gif') left center no-repeat;
}

